---
import Base from "../layouts/Base.astro";
import MemberCard from "../components/MemberCard.astro";
import members from "../data/members.json";
import formerMembers from "../data/former-members.json";
import ResetSidebar from "../components/ResetSidebar.astro";
import "../styles/home.css";
import Navbar from "../components/Navbar.astro";
---


<Navbar />
<ResetSidebar />
<Base>
  <!-- Include the flag-icons stylesheet in your <head> somewhere globally or in your layout -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css" />

<p class="about-intro">
  Reset Security is a collaborative, international <strong>CTF and cybersecurity team</strong>, playfully represented
   by the Antarctica flag <span class="fi fi-aq"></span>.
</p>
  <h1>Team Members</h1>
  <div class="members-list">
    {
      members.map((member) => (
        <MemberCard {...member} />
      ))
    }
  </div>

  <h1>Former Members</h1>
  <div class="members-list">
    {
      formerMembers.map((member) => (
        <MemberCard {...member} />
      ))
    }
  </div>
</Base>
