---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";
import PostCard from "../components/PostCard.astro";
import "../styles/posts.css";
import ResetSidebar from "../components/ResetSidebar.astro";
import Navbar from "../components/Navbar.astro";

const allPosts = await getCollection("posts");
const sortedPosts = allPosts.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Navbar />
<ResetSidebar />
<Base title="Posts">
  <p class="page-description">
    List of all writeups/research blogs written by ResetSec members
  </p>

  <div class="posts-container">
    {sortedPosts.map((post) => (
      <PostCard frontmatter={post.data} id={post.id} />
    ))}
  </div>
</Base>
