---
import "../styles/resetsidebar.css";
---

<aside class="side-bar">
  <img src="/assets/logo.webp" alt="ResetSec" />
  <i>Next-gen world-class hackers...</i>
  
  <ul>
    <li>
      <a target="_blank" href="https://ctftime.org/team/266022">
        <i class="fa-solid fa-flag"></i>
        <span>CTFTime</span>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/ResetSec">
        <i class="fab fa-github"></i>
        <span>GitHub</span>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://x.com/ResetSecz">
        <i class="fab fa-x"></i>
        <span>X</span>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/company/resetsec">
        <i class="fab fa-linkedin"></i>
        <span>LinkedIn</span>
      </a>
    </li>
    <li>
      <a target="_blank" href="mailto:administration@resetsec.xyz">
        <i class="fa fa-envelope"></i>
        <span>Mail</span>
      </a>
    </li>
  </ul>
</aside>