---
import "../styles/socials.css";
---

<section class="socials">
  <a class="ico" href="https://ctftime.org/team/266022"
    ><i class="fa-solid fa-flag"></i></a
  >
  <a class="ico" href="https://github.com/ResetSec"
    ><i class="fab fa-github"></i></a
  >
  <a class="ico" href="https://x.com/ResetSecz"
    ><i class="fab fa-x-twitter"></i></a
  >
  <a class="ico" href="https://www.linkedin.com/company/resetsec"
    ><i class="fab fa-linkedin"></i></a
  >
  <a class="ico" href="mailto:administration@resetsec.xyz"
    ><i class="fa-solid fa-envelope"></i></a
  >
</section>
