body.blog-theme {
	background-color: #1b1b1b;
	color: #f1f1f1;
	margin: 0;
}

body.blog-theme::before {
	content: "";
	position: fixed;
	inset: 0;
	background-size: 5vw 5vw;
	background-image: radial-gradient(circle, #f1f1f1 1px, transparent 1px);
	animation: bgmove 120s linear infinite;
	z-index: -1;
}

@keyframes bgmove {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 200px 200px;
	}
}

.blog-container {
	background-color: #202020;
	max-width: 60%;
	margin: 0px auto;
	padding: 80px 60px;
	line-height: 1.7;
	box-shadow: 0 0 100px 0 #0b0b0b;
}

