:root {
	--white: #ffffff;
	--off-white: #e6edf3;
	--dark-grey: #252525;
	--dark-black: #0b0b0b;
	--black: #1f1f1f;
	--grey: #555555;
	--light-red: #f85149;
	--dark-red: #da3633;
	--blue: #38bdf8;
	--purple: #a371f7;
	--yellow: #e3b341;
	--dark-green: #3fb950;
	--light-green: #56d364;
}