---
import "../assets/blog.css";
import "../assets/colors.css";
import Navbar from "../components/Navbar.astro";
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}/favicon.svg`} />
		<link rel="icon" href={`${import.meta.env.BASE_URL}/favicon.ico`} />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>
	<body class="blog-theme">
		<Navbar />
		<main class="blog-container">
			<slot />
		</main>
	</body>
</html>
